body {
    background: #333333;
    color: #333;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

header{
    padding: 10px;
    border-bottom: 2px solid #54f070;
    font-size: 24px;
    color: #54f070;
}

.chamada {
    display: flex;
    justify-content: center;
    background: #54f070;
    padding: 80px 20px;
}

.chamada-texto {
    margin-right: 5%;
}

.chamada-texto h1 {
    font-size: 40px;
}

.chamada-texto p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.categoria-videos img {
    height: 200px;
    opacity: 0.5;
}

.categoria-videos img:hover {
    border: 1px solid #54f070;
    opacity: 1.0;
}

.categoria h2 {
    color: #54f070;
}

.categoria {
    padding: 20px 20px 80px 20px;
}